.container{
    max-width: 100rem;
}

.navbar {
    display: flex;
    height: 4rem;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.logo-left {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
}

.menu-main {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    padding: 0;
    font-size: 1rem;
    justify-content: space-between;
}


